<div class="content-aboutMe">
	<div>
		<img src="./img/me.jpg" class="myImage"/>
		<p class='myAboutMeInfo'>
			<span>Hi, I'm Rick Wightman</span>
			<br>
			<br>
			I am a web developer and I love to learn new things.  
			<br>
			<br>
			My professional career started as a flight systems tech in the USAF that led to my going back to school to get a AAS degree in aircraft avionic electronics and working for a major aeronautical company, which allowed me to obtain a BA degree in marketing that led to a wonderful opportunity to work in some interesting areas such as Reliability Engineering, International Marketing, IT analysis & programming, and Production Management. 
			<br>
			<br>
			Recently, I had an opportunity to attend a great web development immersion training program that to say the least was intense.  We covered HTML 5, CSS 3, Javascript, Git and Github, jQuery, AngularJS, nodeJS, and Mongo & Firebase databases.  
		</p>
	</div>
</div>