<div class="content-aboutMe">
	<div>
		<img src="./img/me.jpg" class="myImage"/>
		<p class='myAboutMeInfo'>
			<span>Hi, I'm Rick Wightman</span>
			<br>
			<br>
			I am a web developer based in Orem, Utah and I love to learn new things.   
			<br>
			<br>
			Recently, I completed a great web development immersion training program at DevMountain that to say the least was intense. 
			<br>
			<br>
			In addition to learning to write code using HTML 5, CSS 3, Javascript, Git and Github, jQuery, AngularJS, nodeJS, and Mongo & Firebase databases, we were required to create a personal class project 
			<a class="classProjectUrl" target="_blank" ng-href="{{url}}" ng-mousedown="openTab()">(wildernessquiz.com)</a> and work on a group project (gitHub).

		</p>
	</div>
 </div>
