 <div class="aboutMe-container">

  <div class="element">
    <img src="./img/me.jpg">
    <p>
      <span>Hi, I'm Rick Wightman</span>
      <br>
      <br>
        As a web developer based in Orem, Utah, seeking and achiving new skills has helped shape my life.   
      <br>
      <br>
        In April 2015, I completed a great web immersion training program at DevMountain that to say the least was intense.
      <br>
      <br>
        We learned to build websites using HTML 5, CSS 3, Javascript, Git and Github, jQuery, AngularJS, nodeJS, and Mongo & Firebase databases.
      <br>
      <br>
       My personal class project was a MEAN Stack Website with Authentication <a class="classProjectUrl" target="_blank" ng-href="{{url}}" ng-click="openTab()">(wildernessquiz.com)</a>. 
       <br>
       <br>
       In addition, working on a great team my responsibilty was to develope the back-end, which was also a MEAN Stack project <a class="classProjectUrl" target="_blank" ng-href="{{url1}}" ng-click="openTab()">(gitHub)</a>.  
       <br>
       <br>
       Learning to code not only gave me a new caree, but it also gave me a great new passion in life.
    </p>
  <div/> 
 </div>