<div class="bioContainer">
	<div class="bioElement">
		<p>My professional career started as an Aircraft Flight Systems Tech in the USAF. <img src="./img/usafEnblem.png">
		</P>

		<!-- <p>that led to my going back to school to get a AAS degree in aircraft avionic electronics and working for a major aeronautical company<img src="./img/honeywell.jpg">, which allowed me to obtain a BA degree in marketing that led to a wonderful opportunity to work in some interesting areas such as Reliability Engineering, International Marketing, IT analysis & programming, and Production Management. 
	</p>
	</div>
<img src="./img/jm.jpg"> -->
</div>