<div class="bioContainer">
	<div class="bioElement">

		<div class="usaf">
			<p>My professional career started as an Aircraft Flight Systems Technician in the miltary.
			<img src="./img/usafEnblem.png" alt="image">
			</p>
		</div>
		
		<div class="spartan">
			<img src="./img/spartan.jpg" alt="image"> 
			<p>After the Air Force I went to a great aeronautical collage and earned an AAS degree in aircraft avionics electronics.
			</p>
		</div>
		
		<div class="honeywell">
    		<img src="./img/honeywell.jpg" style="vertical-align:middle" alt="image">
    		<p>A major aeronautical company hired me right after graduation and provided an opportunity to earn a bachelor degree, which opened doors to many wonderful opportunity's to work in interesting areas such as Customer Support Engineering and Marketing, International OEM Marketing, IT analysis, Programming, and Management.</p>
		</div>
		
		<div class="jm">
			<img src="./img/jm.jpg" alt="image">
			<p>Managing a machine shop provided a great opportunity to learn about the melting and forming of metal, machining, welding and metal fabrication.  It was a fascinating process to watch when parts we had previously built, were returned, cleaned and melted into ingots then fabricated back into new parts that would be sent back to the customer. 
			</p>
		</div>
	</div>
</div>