<div class="bioContainer">
	<div class="bioElement">
		<p>My professional career started as an Aircraft Flight Systems Tech in the USAF. <img src="./img/usafEnblem.png">
		</P>

		<p>After the Air Force I went to a great aeronatical scool and earned an AAS degree in aircraft avionic electronics. <img src="./img/spartan.jpg"> 
		</p>

		<p>working for a major aeronautical company<img src="./img/honeywell.jpg">, which allowed me to obtain a BA degree in marketing that led to a wonderful opportunity to work in some interesting areas such as Reliability Engineering, International Marketing, IT analysis & programming, and Production Management. 
	</p>
	</div>
	<img src="./img/jm.jpg">
</div>