@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
  margin-left: 15%; 
  padding: 0; 
  position: fixed;
  background-image: url("./img/images1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1vw;
  font-family: 'Exo', sans-serif;
  color: #FFFFFF;
}

/*--------- mobile settings -------------*/
img {
  max-width: 100%;
}

input, textarea {
  max-width:100%;
}

/*--------- main index.html -------------*/
.header-container {
  width: 100%;
  top: 0px;
}

.header {
    background: #F0F0F0;
    color: #000000;
    margin: 0px auto;
}

h2 {
  display: inline;
  font-family: fantasy;
  font-size: 2.5vw;
}

.header ul { 
  list-style-type: none; /*remove HTML list bullets*/
  float: right;
  top: 0px;
}

.header li {
    display: inline-block; /*force the list into one line*/
    font-family: fantasy;
}

.header ul li a {
  text-decoration: none; /*remove the text underline*/
  padding: .5em .5em; /*make each list item into a box*/
  font-weight: bold;
  font-size: 1.2vw;
  color: #000000;
}

.header a:hover {
  color: #FFFF00; 
  background-color: #000000;
}


/*--------- social media links ----------*/
.footer {
  position: fixed;
  margin: 0;
  bottom: 10px;
}

.footer ul {
  list-style-type: none; 
}

.footer ul li { display: inline; }

.footer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}



/*--------- aboutMe page ----------------*/
.aboutMe-container {
    background-size: auto;
    background-attachment: fixed; 
    overflow: hidden;
}

.element P {
  width: 80%;
  margin: 10%;
  color: #FFFFFF;
}

.element span {
  margin-left: 25%;
  font-size: 2vw;
}

.element img {
  float: left;
  width: 45%;
  height: 45%;
  shape-outside: url(./img/me.jpg);
  shape-margin: 15px;
}


.classProjectUrl {
  color: #00FF00;
}

.element a:hover {
  color: #FFFF00; 
  background-color: #000000;
}

/*--------- Bio page --------------------*/






